      table,
      th,
      td {
        border: 1px solid black;
        width: 400px;
      }
      span {
        color: #c93305;
      }

      .divider h1 {
        font-size: 100px;
        font-family: "Lucida Console", monospace;
      }

      .avatar {
        float: left;
        margin-right: 100px;
      }

      h3 {
        height: 50px;
        line-height: 50px;
        background-color: #333;
        color: #fff;
        font-size: 30px;
        font-family: "Helvetica", monospace;
      }

      p {
        font-size: 20px;
      }

      label {
        font-size: 20px;
      }

      .section2 {
        display: flex;
        flex-direction: column;
        height: 40%;
      }

      #disclaimer {
        border-top: 2px solid #dee7ec;
        padding-top: 10px;
      }

      a {
        text-decoration: none;
        color: inherit;
      }

      a:hover {
        text-decoration: underline;
      }

      .button {
        padding: 15px 25px;
        font-size: 24px;
        text-align: center;
        cursor: pointer;
        outline: none;
        color: #fff;
        background-color: #c93305;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
      }

      .button:hover {background-color: #3e8e41}

      .button:active {
        background-color: #3e8e41;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }